
@model IEnumerable<stationeryapp.Models.DisbursementListDetail>

@{
    ViewBag.Title = "Index";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StationeryCatalog.ItemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationeryCatalog.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationeryCatalog.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>

        <th>Edit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationeryCatalog.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationeryCatalog.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationeryCatalog.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ListDetailsNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.ListDetailsNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ListDetailsNumber })
            </td>
        </tr>
    }

</table>

