
@using stationeryapp.Models;
@Html.Partial("_employeeheader")
@Html.Partial("_employeeMenuFragment")
@Html.Partial("_emp_notify")

@{
    ViewBag.Title = "Index";
    Employee emp = (Employee)ViewData["userobj"];
    List<RequisitionForm> notify_form_list = (List<RequisitionForm>)Session["notify_form_list"];
    string sid = (string) ViewData["sid"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-left:15%; margin-top: 5%;">
    <h3 style="text-align:center">
        Welcome, @emp.FirstName @emp.LastName !
    </h3>
    <table style="width: 60%; margin-top: 50px;" align="center">
        <tr style="text-align:center">
            <td>
                <a href=@Url.Action("viewrequest", "Employee",new { id=emp.Id, sid= sid})><img style="width: 70px; height: 70px;" src="~/Images/requests.png" /></a>
            </td>
            <td>
                <a href='@Url.Action("newrequest", "Employee",new { id=emp.Id,  sid=sid})'><img style="width: 70px; height: 70px;" src="~/Images/addreq.png" /></a>
            </td>
        </tr>
        <tr style="text-align:center">
            <td>View Requests</td>
            <td>New Requests</td>
        </tr>
    </table>
</div>

