@using stationeryapp.Models;
@{
    ViewBag.Title = "viewrequest";
    List<RequisitionForm> requestlist = (List<RequisitionForm>)ViewData["requestlist"];
    Employee emp = (Employee)ViewData["userobj"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_employeeheader")
@Html.Partial("_employeeMenuFragment")
@Html.Partial("_emp_notify")

<div style="margin-left:15%">
    <h2>View Requests</h2>
    <table id="requesttbl" class="table table-bordered">
        <thead>
            <tr>
                <th>Form id</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
        </thead>
        @foreach (var item in requestlist)
        {
            <tr>
                <td><a href="@Url.Action("view_single_request", "Employee", new { form_id = @item.FormNumber })">@(emp.DepartmentCode + "/" + (1000 + int.Parse(item.FormNumber)).ToString())</a> </td>
                <td>@item.Status</td>
                <td>@item.Comments</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script>
    $(document).ready(function () {
            $('#requesttbl').DataTable();
        })</script>
}

