@model List<stationeryapp.Models.ViewModelOutstanding>

@{
    ViewBag.Title = "Outstanding";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
}

<h2>Outstanding List</h2>

<table class="table" align="center">
    <tr>
        <th>Item Code</th>
        <th>Description</th>
        <th>Shortage Quantity</th>
        <th>Inventory Quantity</th>
        <th>Status</th>
    </tr>

    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.ShortageQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
               
            </tr>
        }
    }

</table>
