@model stationeryapp.Models.RequisitionFormDetail

@{
    ViewBag.Title = "Details";
}
@{
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
}

<h2>Request Details</h2>
<p>Welcome @username</p>

<div>
    <h4>Request Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormDetailsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "RequisitionForms", new { sessionId = sessionId }, new { @class = "hhhh" })
</p>
