@Scripts.Render("~/Scripts/dropdownOnchange.js")
@using stationeryapp.Models;
@{
    String msg = "";
    msg = (String)ViewData["msg"];
    ViewBag.Title = "Assign Delegate";
    Employee delegate_ = (Employee)ViewData["delegate_"];
    List<Employee> dept_emp_list = (List<Employee>)ViewData["dept_emp_list"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sid = (string)ViewData["sid"];
}
@Html.Partial("_hodheader")
@Html.Partial("_hodMenuFragment")
@Html.Partial("_hod_notify")
<div style="margin-left:15%;margin-top:5%">
    <h2>Assign Delegate</h2>

    <table class="table" style="width:80%">
        <tr>
            <td> Current Deligate : </td>
            <td>@delegate_.FirstName @delegate_.LastName</td>

        </tr>
        @if (! delegate_.Designation.Equals("Head"))
        {
            <tr>
                <td>From : @Convert.ToDateTime(@delegate_.DelegateFrom).Date.ToString("dd/MM/yyyy")</td>

                <td>To: @Convert.ToDateTime(@delegate_.DelegateTo).Date.ToString("dd/MM/yyyy")</td>
            </tr>
        }

        @using (Html.BeginForm("edit_delegate", "Hod", new { sid = sid }, FormMethod.Post))
        {
            <tr>
                <td> New Delegate Selection : </td>
                <td>
                    @Html.DropDownList("Select Delegate", dept_emp_list.Select(emp => new SelectListItem { Text = emp.FirstName, Value = emp.Id, Selected = (emp.Id == delegate_.Id) ? true : false }), new { @placeholder = "Select New Delegate", id = "delegate_id", onchange = "onChange_delegate()" })
                </td>
            </tr>
            <tr style="display: none;">
                <td><input style="" id="delegate_id_hidden" value="" name="new_delegate_id" /></td>
                <td><input type="hidden" id="hidden_dept_head" value=@dept_emp_list.Where(e=>e.Designation=="Head").Select(e=>e.Id).FirstOrDefault().ToString() /></td>
            </tr>
            <tr id="show_hide">
                <td>
                    From : <input id="from_d" type="date" min=@DateTime.Now.Date.ToString("yyyy-MM-dd") name="from_date" value="" onchange="changetodate()" required />
                </td>
                <td id="to_tr" >
                    To : <input id="to_d" type="date" min=@DateTime.Now.Date.ToString("yyyy-MM-dd") name="to_date" value="" onchange="maxfromdate()" required/>
                </td>
            </tr>
            <tr>
                @if (!delegate_.Designation.Equals("Head"))
                {
                    <td>
                        <input class="btn btn-danger" type="button" onclick="location.href='@Url.Action("remove_delegate", "Hod",new { sid=sid,hod_id= @dept_emp_list.Where(e=>e.Designation=="Head").Select(e=>e.Id).FirstOrDefault().ToString()})'" value="Reset Delegate" />
                    </td>
                }
                <td colspan="2" align="right">
                    <input class="btn btn-primary" type="submit" value="ASSIGN" />
                    <input class="btn btn-default" type="button" onclick="location.href='@Url.Action("index","Hod", new { sid=sid} )'" value="Cancel" />
                </td>
            </tr>
        }

    </table>
    

</div>

