
@using stationeryapp.Models;
@{
    Boolean req_pending_forms = ViewData["req_pending_forms"] != null ? (Boolean)ViewData["req_pending_forms"] : false;
    ViewBag.Title = "req_forms";
    Employee user = (Employee)Session["user"];
    List<RequisitionFormDetail> form_cart = (List<RequisitionFormDetail>)ViewData["form_cart"];
    Employee emp = (Employee)ViewData["emp"];
    DepartmentList emp_dept = (DepartmentList)ViewData["emp_dept"];
    string form_number = (string)ViewData["form_number"];
    RequisitionForm form = (RequisitionForm)ViewData["req_form"];
    List<StationeryCatalog> items = (List<StationeryCatalog>)ViewData["catalog_list"];
    string sid = (string)ViewData["sid"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_hodheader")
@Html.Partial("_hodMenuFragment")
@Html.Partial("_hod_notify")

<div style="margin-left:15%; margin-top: 5%;">
    <h4>Form number : @(form_number)</h4>
    <h4>Employee name : @emp.FirstName @emp.LastName</h4>
    <h4>Department name : @emp_dept.DepartmentName</h4>
    <table id="myTable" class="table">
        <tr>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        @if (form_cart != null)
        {
            foreach (var item in form_cart)
            {
                <tr>
                    <td>
                        @items.Find(x => x.ItemNumber == item.ItemNumber).Description
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                </tr>
            }

                <tr>
                    @if (req_pending_forms)
                    {
                        using (Html.BeginForm("approve_reject", "Hod", new { sid = sid }, FormMethod.Post))
                        {
                            <td>
                                <p>Comments:</p>
                                <textarea rows="4" cols="50" type="text" value="" name="comment"></textarea>
                                <input type="hidden" value=@form.FormNumber name="form_id" />
                                <input type="hidden" value=@user.Id name="approved_by" />
                                @*<input type="hidden" id="hidden_status" value="" name="form_status" />*@
                            </td>
                            <td style="vertical-align: bottom">

                                <input id="reject_btn" class="btn btn-danger" type="submit" value="REJECT" name="form_status" />
                                <input id="approve_btn" class="btn btn-success" type="submit" value="APPROVE" name="form_status" />

                            </td>
                            
                        }
                    }
                    else
                    {

                        if (form.Comments != "" && form.Comments != null)
                        {
                            <td colspan="2">
                                Comments : @form.Comments
                            </td>
                        }
                    }
                </tr>
        }

    </table>
</div>
