@using stationeryapp.Models;

@section Styles {
    <link rel="stylesheet" href="https://max.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@{
    ViewBag.Title = "stationaryrequesthistory";
    List<RequisitionForm> requestlist = (List<RequisitionForm>)ViewData["requestlist"];
    Employee emp = (Employee)ViewData["userobj"];
    List<Employee> emp_list = (List<Employee>)ViewData["emp_list"];
    Boolean status = ViewData["from_pending_reqs"] != null ? (Boolean)ViewData["from_pending_reqs"] : false;
    string sid = (string)ViewData["sid"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_hodheader")
@Html.Partial("_hodMenuFragment")
@Html.Partial("_hod_notify")
<div style="margin-left:15%;margin-top:5%">
    <h2>
        @(status ? "Pending Requests" : "Stationery Request History" )
    </h2>
    <table id="historytbl" class="table table-bordered">
        <thead>
            <tr>
                <td>Form id</td>
                <td>Employee</td>
                <td>Status</td>
                <td>Date Received</td>
            </tr>
        </thead>
        @foreach (var item in requestlist)
        {
            <tr>
                <td><a href="@Url.Action("req_forms", "Hod", new { sid= sid, form_id = @item.FormNumber })">@(item.FormNumber)</a> </td>
                <td>@emp_list.Where(e => e.Id == item.EmployeeId).FirstOrDefault().FirstName @emp_list.Where(e => e.Id == item.EmployeeId).FirstOrDefault().LastName</td>
                <td>@item.Status</td>
                <td>@Convert.ToDateTime(@item.DateReceived).Date.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        })</script>
}