@using stationeryapp.Models
@{
    ViewBag.Title = "valueaddedfeature";
    Dictionary<Employee, int> res = (Dictionary<Employee, int>)ViewData["res"];
    Dictionary<string, int> res_ = (Dictionary<string, int>)ViewData["res_"];
    string sid = (string)ViewData["sid"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_hodheader")
@Html.Partial("_hodMenuFragment")
@Html.Partial("_hod_notify")


<div style="margin-left:15%;margin-top:5%">
    <h2>History By Item</h2>
    <table class="table" style="width:80%">
        <tr>
            <th>Item</th>
            <th>Value count</th>
        </tr>
        @foreach (var item in res_)
        {
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </table>
</div>
