@model stationeryapp.Models.SupplierList

@{
    ViewBag.Title = "Delete";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>SupplierList</h2>
<br>
<h4>Are you sure you want to delete this?</h4>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
<hr>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("sessionId", sessionId)
        @Html.Hidden("tag", tag)
        <div class="form-actions no-color" style="font-size:medium">
            <input type="submit" value="Delete" class="btn btn-danger"/> |
            @Html.ActionLink("Back to List", "Index", new { sessionId = sessionId })
        </div>
    }
</div>
