@model IEnumerable<stationeryapp.Models.SupplierList>

@{
    ViewBag.Title = "Index";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>Suppliers</h2>
<br>
<p style="font-size:medium">
    @Html.ActionLink("Create New +", "Create",new { sessionId=sessionId})
</p>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSTNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSTNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierCode,sessionId=sessionId}) |
            @Html.ActionLink("Details", "Details", new { id=item.SupplierCode, sessionId = sessionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierCode, sessionId = sessionId })
        </td>
    </tr>
}

</table>
