<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stationery Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        string sessionId = (string)ViewData["sessionId"];
        string username = (string)ViewData["username"];
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <p class="navbar-brand">Stationery Management System</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (username != null)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { sessionId = sessionId }, new { @class = "hhhh" })</li>
                        <li style="margin-left:300px"><p style="color:crimson;padding:15px;margin:0;font-size:14px">Welcome---@username</p></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login", new { sessionId = sessionId }, new { @class = "hhhh" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stationery Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
