
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stationery Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        string sessionId = (string)ViewData["sessionId"];
        string username = (string)ViewData["username"];
        string count = (string)ViewData["sumTotal"];
        string tag = (string)ViewData["tag"];
        int countnum = Convert.ToInt32(count);
    }
</head>
<body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <div class="content">
        <div class="navbar navbar-inverse navbar-fixed-top" id="Header" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            @if (username != null)
            {
                <div class="container-fluid;row">
                    <div class="col-md-8">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href='@Url.Action("Index", "Home", new { sessionId = sessionId })'>MENU<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "RequisitionForms", new { sessionId = sessionId })'>RequisitionForms</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "OutstandingLists", new { sessionId = sessionId })'>Outstanding</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "StationeryRetrievalForms", new { sessionId = sessionId })'>RetrievalForm</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "DisbursementLists", new { sessionId = sessionId })'>Disbursement List</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "StationeryCatalogs", new { sessionId = sessionId })'>Catalog</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "PurchaseOrders", new { sessionId = sessionId })'>Purchase Order</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "StockAdjustmentVouchers", new { sessionId = sessionId })'>Stock Adjustment</a></li>
                                    <li style="margin-bottom:20px"><a href='@Url.Action("Index", "ReportHome", new { sessionId = sessionId })'>Reports</a></li>
                                    @if (tag == "storeManager")
                                    {
                                        <li style="margin-bottom:20px"><a href='@Url.Action("Index", "SupplierLists", new { sessionId = sessionId })'>Manage Suppliers</a></li>
                                    }
                                </ul>
                            </li>
                            <li><img style="height:50px; padding-top:4px; padding-left:10px;" alt="logo" src="~/Images/logo2.jpg"></li>
                            @if (tag == "storeManager")
                            {
                                <li>@Html.ActionLink("STATIONERY MANAGEMENT SYSTEM", "Index", "StoreManagers", new { sessionId = sessionId }, new { @class = "navbar-brand" })</li>

                            }
                            else if (tag == "storeSupervisor")
                            {
                                <li>@Html.ActionLink("STATIONERY MANAGEMENT SYSTEM", "Index", "StoreSupervisors", new { sessionId = sessionId }, new { @class = "navbar-brand" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("STATIONERY MANAGEMENT SYSTEM", "Index", "Home", new { sessionId = sessionId }, new { @class = "navbar-brand" })</li>
                            }

                        </ul>
                    </div>

                    <div class="navbar-collapse collapse col-md-2">
                        <ul class="nav navbar-nav" style="font-size:medium">
                            <li><a href="#"><img style="height:27px; padding-left:60px" alt="profile" src="~/Images/storeclarkprofile2.png">Welcome @username</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login", new { sessionId = sessionId }, new { @class = "hhhh" })</li>
                        </ul>
                    </div>

                    <div class="navbar-collapse collapse col-md-2">
                        <ul class="nav navbar-nav navbar-right" style="font-size:medium">
                            <a href="#"><img style="height:40px;padding-top:8px; padding-left:10px" src="~/Images/bellstore2.png"></a>
                            @if (countnum > 0)
                            {
                                <li class="divrightb">
                                    <span> @count</span>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="container body-content" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            @RenderBody()
        </div>
    </div>
    <hr />
    <div class="footer">
        <footer>
            <div class="row" style="font-size:smaller;color:black;">
                <div class="col-md-5">
                    <h5><b>COMPANY INFO</b></h5>
                    <p style="align-content:center">Logic University develops digital talent for the industry </p>
                    <p>graduate education, professional development programmes</p>
                    <p>consultancy, applied research and career services</p>
                </div>
                <div class="col-md-4">
                    <h5><b>CONTACT INFO</b></h5>
                    <p>44 Main Street,Orchard Road,Singapore 99888 </p>
                    <p>+65-96897760/+65-90306890</p>
                    <p> <a href="https://www.facebook.com/ISS.NUS">support@stationery-management.com</a></p>
                </div>
                <div class="col-md-3">
                    <h5><b>STATIONERY MANAGEMENT SYSTEM</b></h5>
                    <br>
                    <a href="https://www.facebook.com/ISS.NUS"> <img style="height:48px;width:48px"src="~/Images/twitter.png"> </a>
                    <a href="https://twitter.com/ISSNUS"><img style="height:35px;width:35px" src="~/Images/facebook.png"></a>
                    <a href="https://www.linkedin.com/company/iss.nus"><img style="height:40px;width:40px" src="~/Images/linkedin.png"></a>
                    <a href="https://www.instagram.com/iss.nus/"><img style="height:48px;width:48px" src="~/Images/instagram.png"></a>
                    <a href="https://www.youtube.com/user/TheISSNUS"><img style="height:38px;width:52px" src="~/Images/youtube.png"></a>
                </div>              
                <br>
            </div>
            <h6 style="align-content:center"><b>&copy; @DateTime.Now.Year -Stationery Management-All Copyright Reserved</b></h6>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    #Header {
        height: 8%;
        width: 100%;
    }

    .alarmb {
        position: relative;
        width: 20px;
        height: 20px;
        /*margin: 40px;*/
    }

    .divrightb {
        position: absolute;
        color: white;
        font-size: 12px;
        background-color: red;
        width: 18px;
        height: 18px;
        line-height: -5px;
        left: 67%;
        bottom: -3px;
        text-align: center;
        -webkit-border-radius: 22px;
        border-radius: 22px;
    }
    .footer {
        padding-left: 60px;
        position: center;
        height: 100px;
        width: 100%;
    }

    .content {
        min-height: calc(100vh - 210px);
    }

    .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .social {
        -webkit-transform: scale(0.8);
        /* Browser Variations: */
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }

    /*
    Multicoloured Hover Variations
*/

    #social-fb:hover {
        color: #3B5998;
    }

    #social-tw:hover {
        color: #4099FF;
    }

    #social-gp:hover {
        color: #d34836;
    }

    #social-em:hover {
        color: #f39c12;
    }
</style>