<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stationery Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        string sessionId = (string)ViewData["sessionId"];
        string username = (string)ViewData["username"];
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*<p class="navbar-brand">Stationery Management System</p>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (username != null)
                    {

                    <li class="dropdown">
                        @*<a href='@Url.Action("Details","DisbursementListDetails",new { id= item.disbursementList.ListNumber })'>@item.disbursementList.ListNumber</a>*@
                        <a class="dropdown-toggle" data-toggle="dropdown" href='@Url.Action("Index", "Home", new { sessionId = sessionId })'>Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="margin-bottom:20px"><a href='@Url.Action("Index", "RequisitionForms", new { sessionId = sessionId })'>RequisitionForms</a></li>
                            <li style="margin-bottom:20px"><a href="#">Outstanding</a></li>
                            <li style="margin-bottom:20px"><a href="#">RetrievalForm</a></li>
                            <li style="margin-bottom:20px"><a href='@Url.Action("Index", "DisbursementLists", new { sessionId = sessionId })'>Disbursement List</a></li>
                            <li style="margin-bottom:20px"><a href="#">Catalog</a></li>
                            <li style="margin-bottom:20px"><a href="#">Purchase Order</a></li>
                            <li style="margin-bottom:20px"><a href="#">Stock Adjustment</a></li>
                            <li style="margin-bottom:20px"><a href='@Url.Action("Index", "ReportHome", new { sessionId = sessionId })'>ReorderReport</a></li>

                        </ul>
                    </li>
                        <li style="margin-left:50px">@Html.ActionLink("Home", "Index", "Home", new { sessionId = sessionId }, new { @class = "hhhh" })</li>
                        <li style="margin-left:340px"><p style="color:darkgray;padding:15px;margin:0;font-size:14px">Welcome @username</p></li>
                        <li style="margin-left:360px">@Html.ActionLink("Logout", "Logout", "Login", new { sessionId = sessionId }, new { @class = "hhhh" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        @RenderBody()
        <br>
        <br>
        <br>
             
    </div>
    <hr />
    <div class="container" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">       
        <footer>
            <div class="row" style="font-size:smaller;color:black" @*;background-color:aliceblue*@>
                @*one colum, four means 4 colums*@
                <div class="col-md-4">
                    <h5><b>SUPPORT</b></h5>
                    <p>IT Support</p>
                    <p>Terms of Service</p>
                    <p>Privacy Policy</p>                   
                    @*<p>
            <a class="btn btn-default btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>

        </p>*@
                </div>
                <div class="col-md-4">
                    <h5><b>CONTACT INFO</b></h5>
                    <p>44 Main Street,Orchard Road,Singapore 99888 </p>
                    <p>+65-96897760/+65-90306890</p>
                    <p>support@stationery-management.com</p>
                    @*<p><a class="btn btn-default btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
                </div>
                <div class="col-md-4 ">
                    <h5><b>COMPANY INFO</b></h5>
                    <p>Web agency created in 2014</p>
                    <p>Contact us for custom projects</p>
                    <p>Make a good discount for us</p>
                    @*<p><a class="btn  btn-default btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
                </div>
                <hr>
                <h6 style="align-content:center"><b>&copy; @DateTime.Now.Year -Stationery Management-All Copyright Reserved</b></h6>
            </div>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
