@model IEnumerable<stationeryapp.Models.StationeryCatalog>

@{
    ViewBag.Title = "Index";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>Stationery Catalog</h2>
@if(tag == "storeSupervisor" || tag == "storeManager")
{
<biv style="font-size:large">
   <b> @Html.ActionLink("Create New +", "Create", new { sessionId = sessionId })</b>
</biv>
}
<br>
<table class="table table-bordered table-striped" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierList.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierList1.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierList2.SupplierName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierList.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierList1.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierList2.SupplierName)
            </td>
            <td>
                <biv>@Html.ActionLink("StockCard", "Details", new { id = item.ItemNumber, sessionId = sessionId })</biv>
                @if (tag == "storeSupervisor" || tag == "storeManager")
                {  
                <biv>@Html.ActionLink("Delete", "Delete", new { id = item.ItemNumber, sessionId = sessionId })</biv>
                <biv>@Html.ActionLink("Edit", "Edit", new { id = item.ItemNumber, sessionId = sessionId })</biv>
                }
            </td>
        </tr>
    }

</table>