@{
    ViewBag.Title = "StoreManager Home Page";
}

@{
    string tag = (string)ViewData["tag"];
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    int num = (int)ViewData["num"];
    int numDisbuserment = (int)ViewData["numDisbuserment"];
    int numOutS = (int)ViewData["numOutSt"];
    int numRetrive = (int)ViewData["numRetriF"];
    int numPO = (int)ViewData["numPO"];
    int numStock = (int)ViewData["numStockAj"];

}

<h1 align="center"> Store Manager Home Page</h1>
<br>
<table align="center">
    <tr>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "RequisitionForms",new { sessionId = sessionId })"><img src="~/Images/Requests.jpg"></a>
            @if (num > 0)
            {
                <div class="divright">
                    <span>@num</span>
                </div>
            }
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "OutstandingLists",new { sessionId = sessionId })"><img src="~/Images/Outstanding.PNG"></a>
            @if (numOutS > 0)
            {
                <div class="divright">
                    <span>@numOutS</span>
                </div>
            }
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "StationeryRetrievalForms",new { sessionId = sessionId })"><img src="~/Images/RetrivalForm.PNG"></a>
            @if (numRetrive > 0)
            {
                <div class="divright">
                    <span>@numRetrive</span>
                </div>
            }
        </td>
    </tr>
    <tr>
        <td align="center">RequisitionForms</td>
        <td style="padding:15px"></td>
        <td align="center">Outstanding</td>
        <td style="padding:15px"></td>
        <td align="center">RetrievalForm</td>
    </tr>
 
    <tr>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "DisbursementLists",new { sessionId = sessionId })"><img src="~/Images/DisbusementList.PNG"></a>
            @if (numDisbuserment > 0)
            {
                <div class="divright">
                    <span> @numDisbuserment</span>
                </div>
            }
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "StationeryCatalogs",new { sessionId = sessionId })"><img src="~/Images/Catalog.PNG"></a>
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "PurchaseOrders",new { sessionId = sessionId })"><img src="~/Images/PO.PNG"></a>
            @if (numPO > 0)
            {
                <div class="divright">
                    <span> @numPO</span>
                </div>
            }
        </td>

    </tr>
    <tr>
        <td align="center">DisbursementList</td>
        <td style="padding:15px"></td>
        <td align="center">Catalog</td>
        <td style="padding:15px"></td>
        <td align="center">PurchaseOrder</td>     
    </tr>
 
    <tr>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "StockAdjustmentVouchers",new { sessionId = sessionId })"><img src="~/Images/StockAjustment.PNG"></a>
            @if (numStock > 0)
            {
                <div class="divright">
                    <span> @numStock</span>
                </div>
            }
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "ReportHome",new { sessionId = sessionId })"><img src="~/Images/Reports.PNG"></a>
        </td>
        <td style="padding-left:100px;padding-right:100px;padding-bottom:120px"></td>
        <td align="center" class="alarm">
            <a href=" @Url.Action("Index", "SupplierLists",new { sessionId = sessionId })"><img src="~/Images/supplier1.png"></a>
        </td>
    </tr>
    <tr>
        <td align="center">StockAdjustment</td>
        <td style="padding:15px"></td>
        <td align="center">Reports</td>
        <td style="padding:15px"></td>
        <td align="center">Manage Suppliers</td>
    </tr>
</table>

<style>
    .alarm {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px;
    }

        .alarm img {
            width: 90px;
            height: 100px;
        }

    .divright {
        position: absolute;
        color: white;
        font-size: 12px;
        background-color: red;
        width: 18px;
        height: 18px;
        line-height: -5px;
        bottom: -0px;
        top:90px;
        left:80px;
        text-align: center;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
</style>
