@model IEnumerable<stationeryapp.Models.ViewModelD>

@{
    ViewBag.Title = "Disbursemnet Lists";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
}

@{

}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ItemId</th>
        <th>Department</th>
        <th>CollectionPoint</th>
        <th>CollectionTime</th>
        <th>Status</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @*@Html.ActionLink(item.disbursementList.ListNumber, "DisbursementListDetails", "Details")*@
                <a href='@Url.Action("Details","DisbursementListDetails",new { id= item.disbursementList.ListNumber,sessionId = sessionId})'>@item.disbursementList.ListNumber</a>
            </td>
            <td style="background-color:aliceblue">
                @item.departmentList.DepartmentCode
            </td>
            <td>
                @item.collectionPoint.CollectionPointName
            </td>
            <td class="success">
                @item.collectionPoint.CollectionTime
            </td>
            <td class="text-primary">
                @item.disbursementList.Status
            </td>
        </tr>
    }

</table>

