@model IEnumerable<stationeryapp.Models.ViewModelD>

@{
    ViewBag.Title = "Disbursemnet Lists";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}


<br>
<h2>DisbursementList</h2>
<br>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ListNumber</th>
        <th>Department</th>
        <th>CollectionPoint</th>
        <th>CollectionTime</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>            
                <a href='@Url.Action("Details","DisbursementListDetails",new { id= item.disbursementList.ListNumber,sessionId = sessionId})'>@item.disbursementList.ListNumber</a>
            </td>
            <td >
                @item.departmentList.DepartmentCode
            </td>
            <td>
                @item.collectionPoint.CollectionPointName
            </td>
            <td>
                @item.disbursementList.Date
            </td>
            <td class="success" >
                @item.disbursementList.Status
            </td>
        </tr>
    }
</table>

