@model stationeryapp.Models.StockAdjustmentVoucher
@using stationeryapp.Models

@{
    ViewBag.Title = "Stock Adjustment Voucher";
    List<StockAdjustmentVoucherDetail> savdList = ViewBag.savd;
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}
<br>
<h3>Stock Adjustment Voucher </h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentVoucherNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentVoucherNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Date issued
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<br>
<br>
<table class="table">
    <tr>
        <th> Item Code </th>
        <th></th>
        <th> Quantity Adjusted </th>
        <th></th>
        <th> Reason </th>
    </tr>
    @foreach (StockAdjustmentVoucherDetail savd in savdList)
    {
        <tr>
            <td>@savd.ItemNumber</td>
            <td></td>
            <td>@savd.QuantityAdjusted</td>
            <td></td>
            <td>@savd.Reason</td>
        </tr>
    }
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AdjustmentVoucherNumber)
    @Html.Hidden("sessionId", sessionId)
    <table class="table">
        <tr>
            <td> Remarks:</td>
            <td align="left"> @Html.EditorFor(model => model.Remarks)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            @if (tag == "storeManager" || tag == "storeSupervisor")
            {
                <td align="right"> <input type="submit" value="Reject" name="Command" class="btn btn-danger" /> </td>
                <td align="right"> <input type="submit" value="Approve" name="Command" class="btn btn-success" /> </td>
            }

        </tr>
    </table>
}


<p style="font-size:medium">
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdjustmentVoucherNumber, sessionId = sessionId }) |
    @Html.ActionLink("Back to List", "Index", new { sessionId = sessionId })
</p>