@model List<stationeryapp.Models.StockAdjustmentVoucher>

@{
    ViewBag.Title = "Index";
    string sessionId = (string)ViewData["sessionId"];
    string username = (string)ViewData["username"];
    string tag = (string)ViewData["tag"];
}

<h2>Stock Adjustment Voucher</h2>
<br>
<p style="font-size:medium">
    @Html.ActionLink("Create New +", "Create",new { sessionId=sessionId})
</p>
<br>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Voucher Number
        </th>
        <th>
            Date Issued
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustmentVoucherNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*<div>@Html.ActionLink("View", "Edit", new { id = item.AdjustmentVoucherNumber, sessionId = sessionId }) </div>*@
                @*@if (tag == "storeManager" || tag == "storeSupervisor")
                {*@
                    <div>@Html.ActionLink("View", "Details", new { id = item.AdjustmentVoucherNumber, sessionId = sessionId })</div>
                @*}*@

                @*@Html.ActionLink("Delete", "Delete", new { id = item.AdjustmentVoucherNumber, sessionId = sessionId })*@
            </td>
        </tr>
    }

</table>
